*{
  background-color: black;
  color:wheat
}

h3{
  font-family: 'Roboto', sans-serif;
}

.decisions{
  display: flex;
  width: 700px;
}

.ultima-escogida{
  margin-right: 50px;
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-around;
}

.storage{
  display: flex;
  align-items: center;
}

#storage-ul{
  display:flex;
  width: 100px;
  justify-content: space-around;
}


#storage-li{
  text-decoration: none;
  list-style-type:none
}


.botones{
  display: flex;
  width: 700px;
  justify-content: space-around;
}


